/app-services/target/
/app-services - copia/target/
/admin-gateway/target/
/admin-gateway_old/target/
/eureka-server/target/
/configserver/target/
/adminServer/target/
/notification-service/target/
/project-services/target/